<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <title>three.js tweet viewer for MozVR</title>

    <link href="css/tweet.css" rel="stylesheet" type="text/css">

    <% if (ENV_DEVELOPMENT) { %>
    <script src="http://localhost:35729/livereload.js"></script>
    <% } %>
    <script src="components/jquery/dist/jquery.min.js"></script>
    <script src="components/snap.svg/dist/snap.svg-min.js"></script>
    <!-- r. 72dev -->
    <script src="js/three.min.js" charset="utf-8" type="text/javascript"></script>
    <script src="js/libs/tween.min.js" charset="utf-8" type="text/javascript"></script>

    <script src="js/controls/OrbitControls.js" charset="utf-8" type="text/javascript"></script>
    <!-- VRデバイスから位置情報を取得してカメラに適用する -->
    <script src="js/vr/VRMoveControls.js" charset="utf-8" type="text/javascript"></script>
    <!-- ステレオカメラのセットアップとレンダリング -->
    <script src="js/vr/VREffect.js" charset="utf-8" type="text/javascript"></script>

    <script src="/socket.io/socket.io.js"></script>
</head>

<body>
